<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Presiden Inodensia</title>
</head>

<body>
    <!-- Ordered List -->
    <ol>
        <li>Presiden Soekarno (1945-1967)</li>
        <li>Presiden Soeharto (1967-1998)</li>
        <li>BJ Habibie (1998-1999)</li>
        <li>Abdurrahman Wahid (1999-2001)</li>
        <li>Megawati Soekarno Putri. (2001-2004)</li>
        <li>Susilo Bambang Yudhoyono (2004-2014)</li>
        <li>Joko Widodo (2014-Sekarang)</li>
    </ol>

    <!-- unordered list -->
    <ul>
        <li>Presiden Soekarno (1945-1967)</li>
        <li>Presiden Soeharto (1967-1998)</li>
        <li>BJ Habibie (1998-1999)</li>
        <li>Abdurrahman Wahid (1999-2001)</li>
        <li>Megawati Soekarno Putri. (2001-2004)</li>
        <li>Susilo Bambang Yudhoyono (2004-2014)</li>
        <li>Joko Widodo (2014-Sekarang)</li>
    </ul>
</body>

</html>